.flexContainer {
  display: flex;
}

.justifyContCenter {
  justify-content: center;
}

.justifyContSA {
  justify-content: space-around;
}

.justifyContSB {
  justify-content: space-between;
}

.flexItem {
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  text-align: center;
}

.flexContainerStyles {
  background-color: dodgerblue;
}

.flexItemStyles {
  width: 200px;
  height: 100px;
  background-color: green;
  box-sizing: border-box;
  border: 2px solid red;
}

.flexDirRow {
  flex-direction: row;
}

.flexDirCol {
  flex-direction: column;
}

.flexDirColRev {
  flex-direction: column-reverse;
}

.flexDirRowReverse {
  flex-direction: row-reverse;
}

.flexAI {
  align-items: center;
}
